In [1]:
import pandas as pd

In [21]:
df =pd.read_excel('Customer Call List.xlsx')

In [22]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [26]:
df['Last_Name']=df['Last_Name'].str.lstrip('/...')
df['Last_Name']=df['Last_Name'].str.rstrip('_')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [43]:
df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer']=df['Paying Customer'].str.replace('No','N')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [72]:
df.drop(columns='Not_Useful_Column', inplace=True)
df['Phone_Number']=df['Phone_Number'].str.replace('-','')
df['Phone_Number']=df['Phone_Number'].str.replace('/','')
df['Phone_Number']=df['Phone_Number'].str.replace('|','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
2,1003,Walter,White,nan,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
6,1007,Jeff,Winger,nan,1209 South Street,N,N
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,nan,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N

In [59]:
df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

TypeError: 'float' object is not subscriptable

In [68]:
df['Phone_Number']=df['Phone_Number'].apply(lambda x: str(x))
df['Phone_Number']=df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,False
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,nan--,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na--,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na--,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,True

In [101]:
df['Phone_Number']=df['Phone_Number'].str.replace('nan--', 'No Data')
df['Phone_Number']=df['Phone_Number'].str.replace('nan', 'No Data')
df['Phone_Number']=df['Phone_Number'].str.replace('Na', 'No Data')
df['Paying Customer']=df['Paying Customer'].str.replace('N/a', 'No Data')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y
1,1002,Abed,Nadir,1236439775,93 West Main Street,N
2,1003,Walter,White,No Data,298 Drugs Driveway,N
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y
6,1007,Jeff,Winger,No Data,1209 South Street,N
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N
8,1009,Gandalf,NaN,No Data,123 Middle Earth,Y
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y
10,1011,Samwise,Gamgee,No Data,"612 Shire Lane, Shire",Y
11,1012,Harry,Potter,No Data,2394 Hogwarts Avenue,Y
12,1013,Don,Draper,1235432345,2039 Main Street,Y
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y
17,1018,Clark,Kent,No Data,3498 Super Lane,Y
18,1019,Creed,Braton,No Data,N/a,No Data
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y

In [114]:
df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',', n=2,expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,93 West Main Street,None,None
2,1003,Walter,White,No Data,298 Drugs Driveway,N,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,No Data,1209 South Street,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,No Data,123 Middle Earth,Y,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,25th Main Street,New York,None
10,1011,Samwise,Gamgee,No Data,"612 Shire Lane, Shire",Y,612 Shire Lane,Shire,None
11,1012,Harry,Potter,No Data,2394 Hogwarts Avenue,Y,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Y,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,No Data,3498 Super Lane,Y,3498 Super Lane,None,None
18,1019,Creed,Braton,No Data,N/a,No Data,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,910 Tatooine Road,Tatooine,None